*{
    margin: 0;
    padding: 0;
    font-family: 'Kranky';
}

:root{
    font-size: 15px;
}

body{
    background-color: #0A0003;
}

h1{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 3rem;
    text-align: center;
    font-weight: 300;
    z-index: 99;
    background-color: #0A0003;
    animation: slideFromTop 0.7s ease-in-out;
}

main{
    width: 100%;
    height: 95vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


.watch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background-color: #180007;
    filter: drop-shadow(0 0.2rem 0.1rem #FF004C);
    animation: slideFromLeft 0.5s ease-in-out;
}

.watch:hover{
    cursor: pointer;
}

.buttons{
    display: flex;
    flex-direction: column;
}

h2{
    font-size: 5rem;
    color: white;
}

h3{
    color: grey;
    font-size: 3rem;
}

.lapCounter{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: expand 0.5s ease-in-out;
}

.display{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    align-items: center;
    width: 30rem;
    height: 25rem;
    border-radius: 2rem;
    background-color: #180007;
    filter: drop-shadow(0 0 1.2rem #FF004C);
}

.display::-webkit-scrollbar{
    display: none;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    border-radius: 20px;
    margin-top: 10px;
    background-color: #420214;
    width: 85%;
    min-height: 2.5rem;
}

.buttons{
    animation: slideFromTop 0.6s ease-in-out;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.5rem;
    padding: 1.2rem 2rem;
    font-size: 1.3rem;
    font-weight: 900;
    background-color: #FF004C;
    border: none;
    border-radius: 4rem;
    transition: 0.3s ease-in-out;
}

button img{
    animation: rotate 0.3s ease-in-out;
    width: 1.5rem;
}

#reset img{
    animation: rotateZ 0.3s ease-in-out;
}

button:hover{
    cursor: pointer;
    outline: 1px solid black;
    filter: drop-shadow(0 0 1rem #b6063b);
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    bottom: 5px;
    letter-spacing: 2px;
    font-weight: 400;
}

footer h5{
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 959px){
    main{
        margin-top: 10rem;
        height: 80vh;
    }
    #reset{
        margin-bottom: 5rem;
    }
}

@media screen and (max-width: 700px){
    :root{
        font-size: 15px;
    }
}

@media screen and (max-width:580px){
    :root{
        font-size: 12px;
    }
    main{
        margin-top: 4rem;
        height: 90vh;
    }
    .display{
        margin-top: 2px;
    }
}

@media screen and (max-width: 480px){
    :root{
        font-size: 10px;
    }
    main{
        margin-top: 5rem;
        height: 80vh;
    }
    .buttons{
        margin-top: 20px;
        flex-direction: row;
    }
    .buttons button{
        margin: 0 10px;
    }
}

@keyframes slideFromTop {
    0%{
        opacity: 0;
        transform: translateY(-150px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-350px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes expand {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes rotate {
    0%{
        opacity: 0;
        transform: rotateX(-90deg);
    }
    100%{
        opacity: 1;
        transform: rotateX(90deg);
    }
}

@keyframes rotateZ {
    0%{
        opacity: 0;
        transform: rotateZ(0deg);
    }
    50%{
        opacity: 1;
        transform: rotateZ(-360deg);
    }
    100%{
        opacity: 1;
        transform: rotateZ(-720deg);
    }
}